body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

@media (max-width: 550px) {
  h1 { font-size: 1.5rem; }
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 20rem;
  max-width: 100%
}

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
}

/**************** HERO *****************/

header img {
  max-height: 6rem;
}

header {
  text-align: center;
  width: 100%;
}

@media (max-width: 550px) {
  h1 { font-size: 1.5rem; }
}

h1 .logo-w {
  font-size: 3.5rem;
}



/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/



section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

div.nav-ul {
  display: flex;
  flex-direction: row;
}

nav.ul {
  float: left;
  display: block;
  width: 16.24%;
  margin-right: 4.7%;
}

@media screen and (max-width:800px) {
  .section {
    padding: 0;
    margin-bottom: 2em;
  }
}

div.item-container {
  display: flex;
  align-items: stretch;
}


div.col-md-3 {
  display:block;
  height: 455px;
  border: 0.03rem;
  border-style: solid;
  text-align: center;
}
